In [30]:
import pandas as pd

In [31]:
def load_and_process_data(file_path):
    # Load the CSV file
    df = pd.read_csv(file_path, header=1)

    # Rename columns
    df.rename(columns={'date': 'trading_point', 'Volume USD': 'volume'}, inplace=True)

    # Convert 'trading_point' to datetime and remove timestamp
    df['trading_point'] = pd.to_datetime(df['trading_point']).dt.strftime('%Y-%m-%d')

    # Sort the DataFrame by 'trading_point'
    df.sort_values(by='trading_point', inplace=True)

    # Drop unnecessary columns
    df.drop(columns=['unix', 'symbol', 'Volume ETH'], inplace=True)

    # Save the DataFrame to a new CSV file
    df.to_csv('ohlcv_daily.csv', index=False)

    return df

In [32]:
eth_daily = load_and_process_data('./Bitstamp_ETHUSD_d.csv')

In [33]:
eth_daily.head()

     trading_point    open    high     low   close    volume
2254    2017-11-09  322.15  331.70  317.29  321.32  13118.15
2253    2017-11-10  321.32  325.61  291.00  298.66  34411.65
2252    2017-11-11  298.66  322.19  298.00  315.76  23836.74
2251    2017-11-12  315.76  318.98  300.11  306.10  48200.80
2250    2017-11-13  306.10  320.69  305.91  316.14  36613.50

In [34]:
eth_daily.shape

(2255, 6)